
@{
    ViewData["Title"] = "Demo2";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo 2</title></br>
</head>
<body>
    <h2>Demo 2 view</h2>

    
</body>
</html>

