
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo 5</title></br>
</head>
<body>
    <h2>Demo 5 view</h2>
    Id: @ViewBag.id
</body>
</html>

