@{
    Layout = null;
}

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Demo 3</title></br>
    </head>
    <body>
        <h2>Demo 3 view</h2>

        <h1>Route Parameter</h1>
        Id: @ViewBag.id
    </body>
</html>

