
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo 7</title></br>
</head>
<body>
    <h2>Demo 7 view</h2>
    Id 1: @ViewBag.id1
    </br>
    Id 2: @ViewBag.id2
</body>
</html>

