<!--
these are from book: <br>
<book></book> <br>

these are from book1: <br>
<book1></book1> <br>

these are from book2: <br>
<book2></book2> <br>

these are from book3: <br>
<book3></book3> <br>

these are from book4: <br>
<book4></book4> <br>

these are from book5: <br>
<book5></book5> <br>

these are from book6: <br>
<book6></book6> <br>

these are from book7: <br>
<book7></book7> <br>

these are from book8: <br>
<book8></book8> <br>

these are from book9: <br>
<book9></book9> <br>

these are from book10: <br>
<book10></book10> <br>

these are from book11: <br>
<book11></book11> <br>

these are from book12: <br>
<book12></book12> <br>

these are from book13: <br>
<book13></book13> <br>

these are from book14: <br>
<book14></book14> <br>

these are from book15: <br>
<book15></book15> <br>

these are from book16: <br>
<book16></book16> <br>

these are from book17: <br>
<book17></book17>  <br>

these are from book18: <br>
<book18></book18>  <br>
-->
<!--
these are from book19: {{ title }} <br>
{{ test1() }} <br/>
<book19 xyz="sending from app"></book19> <br/>
<book20 fn="i am from app"></book20> <br/>
<book21 fn="app component author"><book21> <br/>
-->
<!--
these are from book22: <br>
<book22 (sendBackToParent)="getSomeThingFromChild($event)"></book22>  <br>

these are from book23: <br>
<book23 [param1]="appAttr"></book23> <br/>

these are from book24: <br>
<book24>
    <div class="contentfromParent">
        I am from app component desc
    </div>
</book24>   <br>

these are from book25: <br>
<book25>
        <ng-container class="contentfromParent">
            I am from app component desc
        </ng-container>
</book25>   <br>

these are from book26: <br>
<book26></book26>
<book27> </book27>
-->
<!--
<d1>from d1: </d1>   <br>
<d2>from d2: </d2>   <br>
<d3>from d3: </d3>   <br>
<d4>from d4: </d4>   <br>
<d5>from d5: </d5>   <br>
<d6>from d6: </d6>   <br>
<d7>from d7: </d7>   <br>
<d8>from d8: </d8>   <br>
<d9>from d9: </d9>   <br>
<d10>from d10: </d10>   <br>
<d11>from d11: </d11>   <br>
<d12>from d12: </d12>   <br>
<d13>from d13: </d13>   <br>
<d14>from d14: </d14>   <br>

<d15>from d15: </d15>  <br>
<d16>from d16: </d16>  <br>
<d17>from d17: </d17>  
<d18>from d18: </d18>  
<d19>from d19: </d19>  
<d20>from d20: </d20>  
<d21>from d21: </d21> <br> 
<d22>from d22: </d22>  
<d23>from d23: </d23> 
<d24>from d24: </d24> <br>
<d25>from d25: </d25> <br>
<d26>from d26: </d26> <br>
<d27>from d27: </d27> <br>
<d28>from d28: </d28> <br>
<d29>from d29: </d29> <br>
<d30>from d30:</d30> <br>
<d31>from d301:</d31> <br>-->

<app-form1>from form1:</app-form1> <br>
<app-form2>from form2:</app-form2> <br>
<app-form3>from form3:</app-form3> <br>
<app-form4>from form4:</app-form4> <br>
<app-form5>from form5:</app-form5> <br>
<app-form6>from form6:</app-form6> <br>
<app-form7>from form7:</app-form7> <br>
<app-form8>from form8:</app-form8> <br>-->
<app-form9>from form9:</app-form9> <br>